@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(http://fonts.googleapis.com/css?family=Comfortaa);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,300,400italic);

body {
    background-color: #FFFCE6;
    font-family: Open Sans, Helvetica;
    }


table {
    background-color: #E7EBD7;
    width:100%;
    }

td.term {
    width:80%;
    }

td.count {
    width:20%;
    }

h2 {
    font-family:Yanone Kaffeesatz, Helvetica;
    font-size:23px;
    color: #5D5C55;
    }

.total {
    font-family:Yanone Kaffeesatz, Helvetica;
    font-size:23px;
}

#header h1 {
    margin-top:30px;
    margin-bottom:30px;
    font-family: Comfortaa, Helvetica;
    }

.tagging_form input {
    width: 240px;
    height: 24px;
    }
    
