@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Comfortaa:300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,300,300italic,400italic);

body {
    font-family: Open Sans, Helvetica;
    }

#header {
    margin: 50 0 50 -200;
}

#header h1 {
    position: relative;
    width: 920px;
    border-bottom: 1px #CBCAC4 solid ;
    padding-bottom: 5px;
    margin: 0 0 0 219px;
    font-family: Comfortaa, Helvetica;
    font-size: 30px;
    font-weight: 300px;
    color: #475268;
    letter-spacing: -2px;
    word-spacing: 8px;
    }
    
#header img{
    position: absolute;
    float: left;
}

#filtros {
    width: 940px;
    margin: 0 auto 30px;
}

#colunas {
    margin-top: 30px;
}

#colunas h2 {
    float: left;
    font-family:Yanone Kaffeesatz, Helvetica;
    font-weight: 400;
    font-size:20px;
    color: #5D5C55;
    height:32px;
    position: relative;
    }
    
.imgtable {
    position: absolute;
}
    
#colunas h3 {
    float: right;
    font-family:Yanone Kaffeesatz, Helvetica;
    font-size:15px;
    margin-top: 5px;
    margin-right:10px;
    color: #5D5C55;
    font-weight: 300;
}

table {
    width:240px;
    float: right;
    position: relative;
    z-index: -10;
    background-color: #E7EBD7;
    font-family:OpenSans, Helvetica;
    font-size: 14px;
    font-weight: 300;
}

#partidos table {
    border-top: solid 5px #E21C00;
}

#estados table {
    border-top: solid 5px #CE4B97;
}

#oradores table {
    border-top: solid 5px #ABC7B0;
}


td.term {
    width: 80%;
}

#partidos .term a{
    color: #333;
}

#estados .term a{
    color: #41160F;
}

#oradores .term a {
    color: #393939;
}
    
.term a{
    z-index:9999;
}
    
.holder {
    position: relative;
    width:100%;
    display: block;
}
    
.percent {
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
}

#partidos .percent {
    background: #E21C00;
}

#estados .percent {
    background: #CE4B97;
}

#oradores .percent {
    background: #ABC7B0;
}

td.count {
    width:20%;
    background-color: #E7EBD7;
    border-left: 1px solid #fff;
    }

/*problema aqui*/
.total{
    font-family:Yanone Kaffeesatz, Helvetica;
    font-size:23px;
    color: #DF3E21;
    font-weight: 400;
    border-top: 1px solid #FFF;
}

.total .count {
    border-left: 1px solid #FFF;
}

#discursos {
    margin-top: 30px;
    background-color: #E7EBD7;
    margin-bottom: 30px;
}

#discursos h2 {
    width:100%;
    font-family:Yanone Kaffeesatz, Helvetica;
    font-weight: 300;
    font-size:23px;
    background-color:#fff;
    color: #5D5C55;
}

#discursos p {
    width:100%;
    font-family: "Open Sans", sans-serif;
    font-size:16px;
    font-weight:300px;
    color: #5D5C55;
}

#discursos b{
    font-weight: 600;
}

#discursos .date {
    font-size:16px;
    border-top: 5px solid #fff;
    padding: 3px;
    color: #5D5C55;
    background-color:#fff;
}

.discurso {
    font-weight:200;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 3px;
}

.tagging {
    cursor: pointer;
    font-size: 12px;
    font-style: underline;
}

.btn {
    width: 100%;
}

.tagging_form input {
    width: 240px;
    height: 24px;
    }
